# Python bytecode
*.pyc
*.pyo
__pycache__/

# Django stuff:
*.log
local_settings.py
db.sqlite3
/static/
media/

# Virtual environment
myenv/

# IDE settings (e.g., PyCharm, VSCode)
.vscode/
.idea/

# Django migrations
*/migrations/*

# Database files
*.db

# Ignore the secret key file or any other sensitive info
*.env
